<!DOCTYPE html>
<html>
<head>
  <title>C2Twitter</title>
  <%= stylesheet_link_tag    "c2_twitter/application", :media => "all" %>
  <%= javascript_include_tag "c2_twitter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
